:root {
    --blue: #0A2463;
    --blue-hover: #0A246310;
    --offwhite: #FFFAFF;
    --layout-gap: 2rem;
    --container-width: 1600px;
}
body {
    background-color: var(--offwhite);
    font-family: "Open Sans", sans-serif;
}

input[type=submit] {
    cursor: pointer;
}

pre {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

/********* Header *************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

header a {
    color: var(--blue);
    font-weight: bold;
}

.site-title {
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    display: flex;
    gap: .6rem;
    align-items: center;
}

/*********  Typography ******** */

h1 {
    color: var(--blue);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: .4em;
    line-height: 1.25;
}

a:hover {
    text-decoration: none;
}

/********* Layout ******** */
section {
    padding-block: 2rem;
}

.container {
    max-width: var(--container-width);
    padding-inline: 1rem;
    margin-inline: auto;
}

.container-inner {
    display: grid;
}

@media screen and (min-width: 650px) {
    .container-inner {
        grid-template-columns: 1fr 1fr;
    }
}

/*********  Buttons ******** */
button {
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--offwhite);
    padding: .4rem .8rem .4rem .8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid var(--blue);
    font-weight: 600;
}

.btn-primary:hover {
    background-color: var(--offwhite);
    color: var(--blue)
}

.btn-secondary {
    background-color: transparent;
    color: var(--blue);
    padding: .4rem;
    font-size: 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--blue);
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: var(--blue-hover);
}

.btn-secondary.active {
    background-color: var(--blue-hover);
    border: 2px solid var(--blue);
}

/********* Forms ******** */
.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.25em;
}

label {
    line-height: 1.5em;
    font-weight: bold;
}

textarea {
    padding: .4rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: calc((var(--container-width) / 2) - var(--layout-gap));
    width: 100%;
    resize: none;
}

.input-wrapper {
    padding-bottom: .6rem;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.demo-toggle-btn {
    font-size: 0.875rem;
}

/******** Score Area **********/

.score-wrapper p {
    font-weight: bold;
    text-align: center;
    color: var(--blue)
}

.score-display {
    font-size: 2.5rem;
}

/*********  Utilities ******** */
.d-none {
    display: none;
}